.DailyForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 40px 40px 40px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: white;
  color: #374151;
}

/* タイトル入力欄 */
.todayTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.todayTitle input {
  font-size: 30px;
  font-weight: 500;
  max-width: 200px;
  padding: 10px 12px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #e5e7eb;
  outline: none;
}
.todayTitle input::placeholder {
  font-size: 15px;
  color: #9ca3af;
}
.todayTitle input:focus {
  border-bottom-color: #ec8a8a;
}

/* 色選択欄 */
.todayColor {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.todayColorTitle {
  align-self: flex-start;
}

/* メモ入力欄 */
.todayMemo {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.todayMemoTitle {
  align-self: flex-start;
}

.todayMemo textarea {
  width: 100%;
  height: 150px;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  background: transparent;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
}

/* 写真投稿欄 */
.todayImage {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.fileInputLabel {
  width: fit-content;
  display: inline-block;
  padding: 8px 16px;
  background-color: white;
  color: #374151;
  border: 2px solid #e5e7eb;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.fileInputLabel:hover {
  background-color: #89BFFF;
  color: white;
}

.imagePreview img{
  margin-top: 10px;
  width: 200px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  object-fit: contain
}

/* 投稿ボタン */
.submitButton button {
  margin-top: 10px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: #f59e9e;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submitButton button:hover {
  transform: translateY(-2px);
  background: #ec8a8a;
  box-shadow: 0 6px 14px rgba(244, 114, 182, 0.3);
}

.submitButton button:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(244, 114, 182, 0.2);
}

@media (max-width: 768px) {
  .DailyForm {
    max-width: 360px;
    padding: 20px;
    gap: 0px;
  }
  .todayTitle input {
    font-size: 24px;
    max-width: 150px;
  }
  .todayMemo textarea {
    height: 120px;
  }
}
